<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Verifies that anchor2 backups are working</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <com.sonyericsson.rebuild.RebuildSettings plugin="rebuild@1.20">
      <autoRebuild>false</autoRebuild>
    </com.sonyericsson.rebuild.RebuildSettings>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers>
    <hudson.triggers.TimerTrigger>
      <spec>0 5 * * *</spec>
    </hudson.triggers.TimerTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>cd /mnt/sdb3/myBackup/anchor2

# The &apos;latest&apos; file is updated by the backup script (which runs as a cygwin cron job)
age=$(file-age-seconds ./latest)

if (( $age &gt; 60*60*24 )); then
    echo &quot;ERROR: $PWD/latest is old, probably the anchor2 backup didn&apos;t run (it&apos;s a cron job on anchor2 under cygwin)&quot;
    exit 1
fi
exit 0</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.tasks.Mailer plugin="mailer@1.4">
      <recipients>les.matheson@gmail.com</recipients>
      <dontNotifyEveryUnstableBuild>false</dontNotifyEveryUnstableBuild>
      <sendToIndividuals>false</sendToIndividuals>
    </hudson.tasks.Mailer>
  </publishers>
  <buildWrappers/>
</project>